<ion-view title="BotOes" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="button-bar">
            <a href="#/salas" class="button button-stable button-block  icon ion-alert"></a>
            <a href="#/chat" class="button button-stable button-block  icon ion-chatboxes"></a>
            <a href="#/botoes" class="button button-stable button-block  icon ion-android-radio-button-on"></a>
            <a href="#/ajustes" class="button button-stable button-block  icon ion-android-settings"></a>
            <a href="#/page10" class="button button-stable button-block  icon ion-android-exit"></a>
        </div>
    </ion-content>
</ion-view>