<ion-view title="Login" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/salas" class="button button-stable button-block ">Entrar</a>
            <a href="#/cadastroCep" class="button button-stable button-block ">Cadastre-se</a>
        </form>
    </ion-content>
</ion-view>