<ion-view title="Salas" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/page18" class="button button-stable button-block ">Estado</a>
        <a href="#/page19" class="button button-stable button-block ">Cidade</a>
        <a href="#/page20" class="button button-stable button-block ">Bairro</a>
        <a href="#/page21" class="button button-stable button-block ">Logradouro</a>
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-alert"></button>
            <a href="#/chat" class="button button-stable button-block  icon ion-chatboxes"></a>
            <a href="#/botoes" class="button button-stable button-block  icon ion-android-radio-button-on"></a>
            <button class="button button-stable button-block  icon ion-android-settings"></button>
            <a href="#/page10" class="button button-stable button-block  icon ion-android-exit"></a>
        </div>
    </ion-content>
</ion-view>